.card {
  background-color: #5044aa;
  width: 280px;
  height: 170px;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1.5rem;
}

.card__title {
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: capitalize;
  color: white;
}
