.img-fluid {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.header__nav li a {
  text-transform: uppercase;
  color: #000;

  font-weight: 700;
  text-decoration: none;
  transition: color 0.3s;
  /* font-size: 1.2rem; */
  vertical-align: middle;
  padding: 0 auto;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
}
.active {
  border-bottom: 3px solid #5044aa;
  color: #5044aa !important;
  border-radius: 2px;
}

.header__nav li:hover a {
  color: #5044aa;
}
