* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  max-height: 100vh;
  max-width: 100vw;
}

.containe {
  max-width: 100%;
  margin: 0 auto;
}
.containe::after {
  content: '';
  overflow: hidden;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background-image: url('./assets/images/BgSvg.svg');
  background-size: cover;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .containe {
    max-width: 540px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .containe {
    max-width: 720px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .containe {
    max-width: 960px;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .containe {
    max-width: 1200px;
  }
}
